/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0070d2;
    color: #fff;
    padding: 10px 20px;
}

.header-inner img {
    width: 120px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.featured-news {
    background-color: #fff;
    padding: 20px;
}

.featured-news h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.latest-news {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.latest-news h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

article h3 {
    font-size: 20px;
}

footer {
    background-color: #0070d2;
    color: #fff;
    text-align: center;
    padding: 10px;
}

